.member-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;  /* adjust as needed */
  }

  .member-container img {
    width: 250px;
    margin-right: 20px;
  }
  
  .member-container strong, .member-container h2 {
    margin-bottom: 0.5em; /* Adjust this value as needed */
  }
  
  .member-container p {
    margin-top: 0.5em; /* Adjust this value as needed */
  }

footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body {
  margin-bottom:50px;
}