name: Link Checker

on:
  push:
  workflow_dispatch:

jobs:
  markdown-check-links:
    name: Markdown - checking links
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: ".markdownlint.json"
